@media (min-width: 1065px) {
  .profile {
    background-position: 512px;
  }
}
@media (min-width: 500px) and (max-width: 1064px) {
  .profile {
    background-position: top right;
  }
}
@media (max-width: 499px) {
  .profile {
    background-position: top;
    width: 280px;
    margin: 0 auto;
    padding: 12px;
  }
  .profile h1 {
    padding-top: 266px;
  }
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #fff;
}

h1, h2 {
  margin: 0;
  color: #EE1D25;
}

h1 a, h2 a {
  color: #EE1D25;
}

a {
  color: #333;
}

.intro-container {
  background: #222;
  color: white;
}
.intro a {
  padding: 0 12px;
  color: white;
}

.profile-container {
  color: #333;
}
.profile {
  background-image: url("../images/profile.png");
  min-height: 250px;
}
.profile a {
  font-size: 18px;
  font-weight: bold;
}

.social-icons a {
  display: block;
}
.social-icons a img {
  display: block;
  width: 32px;
  height: 32px;
}

.hire-me {
  max-width: 768px;
  margin: 0 auto;
}
.call-to-action {
  text-align: center;
}
.call-to-action .btn {
  margin-top: 8px;
  padding: 24px 36px;
  background-color: #222;
  border-color: #222;
}
.call-to-action .btn:hover {
  padding: 24px 36px;
  background-color: #333;
  border-color: #222;
}

.hire-me-container {
  display: block;
  width: 100%;
  margin: 32px 0 0 0;
  padding: 0;
}
